@font-face {
	font-family: 'erbos_draco_monospaced_nbpRg';
	src: url('erbos_draco_monospaced_nbp-webfont.svg#erbos_draco_monospaced_nbpRg') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: 'erbos_draco_open_nbpregular';
    src: url('erbos_draco_open_nbp-webfont.svg#erbos_draco_open_nbpregular') format('svg');
    font-style: normal;
    font-weight: normal;
}
html, body {
	height: 100%;
}
body {
	background-image: url('tile.png');
}

header {
    background-color: #ee6557;
    box-shadow: 0 1px 5px rgba(50, 50, 50, 0.75);
    height: 60px;
    margin: 0;
    padding: 0;
}

header .logo {
    background-image: url('../img/pomodoro.png');
    background-repeat: no-repeat;
    background-size: 60px;
    height: 60px;
    text-align: right;
}

header .title {
	color: #fff;
	display: block;
	font-family: 'erbos_draco_open_nbpregular';
	font-size: 45px;
	height: 35px;
	left: 50%;
	margin-left: -115px;
	position: absolute;
	top: 20px;
}
article {
	height: 100%;
}
section {
	height: 50%;
}



h1, ul {
	margin: 0 0 30px;
}
.timer {
	background-color: #fff;
	border: 3px solid #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:	0 3px 11px rgba(000,000,000,0.5), inset 0 0 1px rgba(255,0,0,1);
	box-shadow:	0 3px 11px rgba(000,000,000,0.5), inset 0 0 1px rgba(255,0,0,1);
	color: #000;
	font-family: 'erbos_draco_monospaced_nbpRg';
	font-size: 170px;
	left: 50%;
	margin-left: -187px;
	margin-top: 100px;
	overflow: hidden;
	position: absolute;
	width: 375px;
	text-align: center;
	height: 97px;
	line-height: 90px;
}

.start {
	border: 3px solid #ffffff;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow:	0 3px 11px rgba(000,000,000,0.5), inset 0 0 1px rgba(255,0,0,1);
	color: #ffffff;
	cursor: pointer;
	display: block;
	margin: 10% auto;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	padding: 10px 20px;
	background: -moz-linear-gradient(top, #e61751 0%, #fa4646);
	background: -webkit-gradient(linear, left top, left bottom,	from(#e61751), to(#fa4646));
	text-shadow: 0 -1px 0 rgba(000,000,000,0.2), 0 1px 0 rgba(255,255,255,0.3);
	width: 100px;
}
